* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: rgba(245, 222, 179, 0.5);
    margin: 0;
    padding: 0;
    max-width: 1920px;
}
.header {
    background-color: rgb(104, 84, 61);
    padding: 1px 0;
    box-shadow: 0 0 1em black;
    border-bottom: 3px solid rgba(245, 222, 179, 1);
    font-size: 4vw;
    font-weight: 900;
    text-align: center;
    color: rgba(222, 184, 135, 1);
    letter-spacing: 3px;
    width: 100%;
}
.full {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.container1 {
    background-color: rgba(245, 222, 179, 0.3);
    border-radius: 4px;
    box-shadow: 0 0 2em rgb(105, 101, 101);
    width: 90%;
    height: 100vh;
    margin: 0;
    border: 3px solid rgba(245, 222, 179, 1);
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: center top;
    color: rgb(116, 96, 70);
    margin: 1% 0 1% 1%;
}
.container2 {
    background-color: rgba(245, 222, 179, 0.3);
    border-radius: 4px;
    box-shadow: 0 0 2em rgb(105, 101, 101);
    margin: 1% 1%;
    width: 10%;
    min-width: 20%;
    overflow-y: scroll;
    max-height: 100vh;

    border: 3px solid rgba(245, 222, 179, 1);
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    width: 90%;
    min-height: 11em;
    opacity: 0.04;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-color: rgb(112, 107, 107);
    margin: 3% 0 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid rgba(245, 222, 179, 1);
}

.title:hover {
    transition-duration: 1s;
    width: 96%;
    min-height: 16em;
    opacity: 1;
    transform: rotate(0.01turn);
    box-shadow: 0 0 3em black;
}

#card-title {
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin: 0;
    left: 0px;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-top: 2px solid rgb(222, 184, 135);
}
#container1-title {
    font-size: 4vw;
    position: relative;
    font-weight: 800;
    top: 35%;
    left: 15%;
}

#description-img {
    margin: 1% 0 0 1%;
    width: 45%;
    height: 45%;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
    border: 3px solid rgba(245, 222, 179, 1);
}

#description-header {
    position: relative;
    top: -30%;
    left: 49%;
    font-size: 3.7vw;
    margin: 0;
    font-weight: 900;
    
    color: rgb(83, 135, 233);
    border-right: 0.4vw solid rgb(61, 63, 66);
    padding-right: 2%;
    width: fit-content;
}

#description-subheader {
    position: absolute;
    top: 47%;
    left: 5%;
    font-size: 2.5vw;
    margin-left: 4%;
    color: rgb(61, 63, 66);
    border-left: 0.4vw solid rgb(61, 63, 66);
    padding-left: 1%;
    font-weight: 600;
}

ul {
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(91, 91, 92);
    line-height: 50px;
}
li {
    list-style-type: square;
}
.footer {
    background-color: rgb(104, 84, 61);
    padding: 1px 0;
    box-shadow: 0 0 1em black;
    border-top: 3px solid rgba(245, 222, 179, 1);
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    width: 100%;
    color: rgba(222, 184, 135, 1);
    letter-spacing: 3px;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(104, 84, 61);
}

::-webkit-scrollbar-thumb{
    background: rgb(104, 84, 61);;
    border-radius: 10px;

}